# Database
POSTGRES_DB=jb_apulv3
POSTGRES_USER=jb_user
POSTGRES_PASSWORD=change-me

# Backend
SECRET_KEY=change-me-to-random-string
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
YOUTUBE_API_KEY=

# Frontend
NEXT_PUBLIC_API_URL=http://localhost:8001
